body {
    background: #0e0075;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
}

header .img_flex {
    display: flex;
    justify-content: center;
}

header .img_flex img {
    width: 60%;
    margin-left: 80px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f1f1f1;
    list-style-type: none;
}

header nav ul li {
    font-size: 25px;
    margin-left: 50px;
}

header nav ul button {
    margin-left: 30px;
    border-radius: 30px;
    height: 50px;
}

header nav ul a {
    color: #f1f1f1;
    display: block;
    font-weight: bolder;
    width: 180px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    border-radius: 27px;
    margin-left: 30px;
    background: #6054ba;
    font-family: boing, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

/* Section Title */

.allTheHomePage .Title_page {
    font-size: 110px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #f1f1f1;
    margin-top: 60px;
    text-align: center;
    max-width: 900px;
    line-height: 90px;
    font-family: boing, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.buySpan {
    position: relative;
    right: 20px;
}

/* Section Smartpohne */

.imageSmartphone img:nth-child(1) {
    position: absolute;
    top: 20%;
    width: 14%;
    left: 12%;
}
.imageSmartphone img:nth-child(2) {
    position: absolute;
    top: 50%;
    width: 20%;
    left: 12%;
}
.imageSmartphone img:nth-child(3) {
    position: absolute;
    top: 40%;
    right: 16%;
    width: 15%;
}
.imageSmartphone img:nth-child(4) {
    position: absolute;
    top: 20%;
    width: 15%;
    right: 10%;
}

.selectSmartphone {
    width: 100%;
    text-align: center;
}

.selectSmartphone a {
    display: inline-block;
    width: 15%;
    height: auto;
    margin-top: 40px;
    line-height: 50px;
    border-radius: 30px;
    background: #ff006e;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 18px;
    font-family: boing, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

/* Section PRice */

.allPrice {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 50px;
    color: #f1f1f1;
}

.allPrice .integer {
    position: relative;
    bottom: 10px;
    left: 10px;
    margin-left: 15px;
    font-size: 60px;
}

.allPrice .cents {
    position: relative;
    bottom: 20px;
    left: 30px;
    font-weight: bolder;
    color: #ff006e;
    font-size: 1.875rem;
}

.allPrice .months {
    position: relative;
    right: 40px;
    font-size: 1.875rem;
    top: 10px;
    font-family: boing, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

/* Skip Section */

.skipSection {
    text-align: center;
    margin-top: 150px;
}

.skipSection img {
    width: 353px;
    height: 80px;
}

/* Section Avantages */

h2 {
    text-align: center;
    color: #f1f1f1;
    font-size: 160px;
    margin: 0;
    line-height: 200px;
    font-family: boing, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.container_Advantage {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    margin-top: 100px;
}

.container_Advantage img {
    width: 20%;
}

.descriptions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  
}
.descriptions span {
    margin-left: 33px;
    font-size: 90px;
    font-family: boing, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.title_advantage {
    font-size: 3.75rem;
    display: inline-block;
    max-width: 600px;
    line-height: 60px;
}
.subtitle_advantage {
    margin-right: auto;
    margin-left: 40px;
    font-weight: bolder;
    text-align: left;
    max-width: 300px;
    font-size: 22px;
}

.container_Advantage .title_advantage:nth-child(2) {
    text-align: left;
    margin-left: 40px;
}
.container_Advantage .subtitle_advantage:nth-child(2) {
    text-align: left;
}

/* Screen responsive */

@media screen and (max-width: 428px) {
    body {
        overflow-x: hidden;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .img_flex {
        width: 50%;
        display: block;
        margin-right: auto;
        margin-top: 30px;
        margin-left: 65px;
    }

    header nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        display: none;
    }

    header nav ul a {
        display: none;
    }
    header nav ul li {
        margin: 0;
        padding: 0;
        font-size: 15px;
        margin-top: 10px;
    }

    /* Title section */

    .allTheHomePage .Title_page {
        font-size: 30px;
        line-height: 35px;
        max-width: 250px;
        margin-top: 10px;
    }

    .buySpan {
        margin-left: 20px;
    }

    .allPrice{
        margin-top: 80px;
    }

    /* Image section */

    .imageSmartphone img:nth-child(1) {
        position: relative;
        top: 90px;
        width: 35%;
    }
    .imageSmartphone img:nth-child(2) {
        position: relative;
        top: 80px;
        left: 50px;
        width: 40%;
    }
    .imageSmartphone img:nth-child(3) {
        position: relative;
        top: 0px;
        left: 20px;
        width: 40%;
    }
    .imageSmartphone img:nth-child(4) {
        position: relative;
        top: -50px;
        left: 60px;
        width: 40%;
    }

    .allTheHomePage .selectSmartphone a {
        display: block;
        width: 80%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        line-height: 50px;
        font-weight: bolder;
    }
    /* Skip section */
    .skipSection img {
        width: 60%;
    }

    /* Section Avantages */
    h2 {
        font-size: 50px;
    }

    .descriptions {
        display: flex;
        flex-direction: column;
      margin-right: auto;
    }


    .container_Advantage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container_Advantage img {
        display: block;
        width: 300px;
    }

    .descriptions .title_advantage {
        font-size: 30px;
        line-height: 40px;
    }

  
}
